body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#pinkboard {
    position: absolute;
    width: 100%;
    height: 100%;
}